.pageContainer {
  margin-top: 9.313rem;
  margin-left: 0rem;
  margin-right: 0rem;
  margin-bottom: 9.313rem;
  padding: 0 0 49.625rem;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 5%);
  background-color: #fafafa;
}
